@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin BoxShadow {
    box-shadow: 0 4px 30px rgb(140 152 164 / 20%)
}

@mixin hovBoxShadow {
    box-shadow: 0 4px 30px rgb(140 152 164 / 40%);
}

@mixin orange-text-shadow {
    text-shadow: 0 2px 4px rgb(23 25 37 / 40%);
}

@mixin BfAfContent {
    content: '';
    position: absolute;
    display: block;
}

@mixin title {
    font-size: 14px;
    font-weight: 700;
    color: $orange-darken;
    background-color: $orange-text-bg;
    padding: 10px 30px;
    border-radius: 40px;
}

@mixin button {
    cursor: pointer;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    background-color: $orange-darken;
    padding: 12px 25px;
    border-radius: 7px;
    box-shadow: 0 0 0 2px $white,
        0 3px 9px rgb(0 0 0 / 30%);
}