//?color

$orange:#F04936;
$orange-darken:#EF3724;
$hov-dark:#747474;
$box-text-color:#212529;
$blue-gray:#171925;
$transparent-orange:#FDE1DE;
$white:#ffffff;
$light-transparent:#686666cc;
$tiny-text-color:#777777;
$white-transparent:#ffffff80;
$white-transparent-hover:#ffffffbf;
$bef-dar:#6c727c;
$hov-dar:#52565c;
$darkish:#6c757d;
$inputC:#495057;
$footer-dark:#9fa2ab;
$orange-text-bg:#ef382426;
$smoke-bg:#3e3939cc;
$skill-box-color:#f4f5f8;
$vertical-line:#cacdd6;
$vertical-line-large:#e3e5e9;
$client-box:#292424b3;
$card-text-bg:#323131;
$carousel-active:#3c94f8;
$inactive-color:#dadada;
$fontWe:('regular':400,
    'medium':500,
    'bold':700,
);